{% extends "medecin/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title">Bonjour, {{ request.user.username }} !</h2>
                <p class="card-text">Choisissez une action :</p>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">📋 Patients</h5>
                        <div class="d-grid gap-2">
                            <a href="{% url 'medecin:patient_list' %}" class="btn btn-outline-primary">Voir la liste</a>
                            <a href="{% url 'medecin:add_patient' %}" class="btn btn-primary">Ajouter un patient</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">🩺 Consultations</h5>
                        <div class="d-grid gap-2">
                            <a href="{% url 'medecin:consultations' %}" class="btn btn-outline-primary">Voir la liste</a>
                            <a href="{% url 'medecin:add_consultation' %}" class="btn btn-primary">Nouvelle consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

